#content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#album-container {
    overflow: scroll;
    /* flex-grow, flex-shrink, and flex-basis */
    flex: 0 1 auto;
}

#top-container {
    width: 100%;
    flex: 1 0 auto;
}